﻿@model MyDLL.DonDatHang

@{
    ViewBag.Title = "AddressAndPayment";
}

<h2>AddressAndPayment</h2>
<legend>Shipping Information</legend>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ddh_ID)

        <div class="form-group">
            @Html.Label("Full Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ddh_FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ddh_FullName)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Address", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ddh_Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ddh_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Phone number", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ddh_Phone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ddh_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ddh_Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ddh_Email)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Order" class="btn btn-default" />
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Payment</legend>
        <div class="editor-label">
            @Html.Label("Your total: ", new { @class = "control-label col-md-2" })
        </div>
        <div class="editor-field">
            @Html.LabelFor(model => model.ddh_Total, new { @class = "control-label col-md-2" })
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
