﻿@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about shopping for some more phone in our
    @Html.ActionLink("store","Index", "Home",null)
</p>
