﻿@{
    ViewBag.Title = "Congratulation you have successfully registered";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    To complete Please check your email and confirm your email address.
</p>
<p class="text-danger">
    You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>
