﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        <div style="float:right"><a href="@Url.Action("Index","GioHang")"><img src="~/Image/shoppingcart.png" alt="cart" title="View Cart" width="48" height="48" /></a> </div>
    }
}
else
{
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        <div style="float:right"><a href="@Url.Action("Index","GioHang")"><img src="~/Image/shoppingcart.png" alt="cart" title="View Cart" width="48" height="48" /></a> </div>
    </div>
}
