﻿#menu {
    width: 20%;
    position: relative;
    float:left;
    border: 1px solid black;
}
.container body-content {
    position: relative;
}
#search {
    width: 100%;
}
#content {
    width: 80%;
    border: 1px solid black;
    position: relative;
    margin-left: 20.1%;
    height: 460px !important;
}
caption {
    font-size: 18px;
}
ul {
    line-height: 4.429 !important;
}
.spacer {
    display: inline-block;
    width: 30%;
    margin: 0px;
	padding-left:20px;
    vertical-align: top;
}