
/*slider frame*/
#sliderFrame {position:relative;background-color:White;}      

#slider, #slider div.sliderInner {
    width:800px;height:173px;/* Must be the same size as the slider images */
}

#slider 
{
	background:transparent url(../Image/loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}
#slider div.navBulletsWrapper  {
	display:none;
}

#slider img{
	position:absolute; border:none; display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}



/*----------- navigation buttons on both sides of the slider -----------*/
.group-Wrapper 
{
    position:absolute;
    z-index:20;
    top:120px;
    margin-left:50%;/* position it in the middle of #sliderFrame */
    width:1px;
}
a.group-Prev, a.group-Next
{
	margin-top: -65px;
    width:50px;height:150px;
    background:transparent url(../Image/navbuttons.gif); 
    display:block; 
    cursor:pointer;
    position:absolute;
    top:0;
    user-select: none;
}
a.group-Prev{background-position:0 -40px; left: -480px;}
a.group-Next {background-position:0 -190px;left:425px;}

a.group-Prev:hover{background-position:50px -40px;}
a.group-Next:hover {background-position:50px -190px;}

