﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
td input {
    max-width:30px;
}
li input {
    font-size:16px;
    font-weight:500;
    border: 0px;
    display:block !important;
    float:left !important; 
    padding:0px 8px 0px 0px !important; 
    margin:0 14px 0 14px !important;
    height:50px !important;
    text-decoration:none !important; 
    color:#676d77 !important;
    max-height:50px !important;
}
li input:hover {
    cursor:pointer;
}
li.submenu {
    display:block;
    float:left; 
    padding:0px 8px 0px 22px; 
    margin:0 14px 0 14px;
    height:50px;
    text-decoration:none; 
    color:#676d77;

}
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
tr.tieude th{
    width:140px;

}
tr.noidung td {
    text-align:center;
}