﻿@model MyDLL.Phone
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Create";
}
<h2>Tạo mới sản phẩm</h2>

@using (Html.BeginForm(new { image = ViewBag.Image })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Phone</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("Tên sản phẩm", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.p_Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.p_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{ var list = new List<SelectListItem>(new[] {
                new SelectListItem{ Selected = true, Text="Có hàng",Value="yes"},
                new SelectListItem{ Selected = false, Text="Hết hàng",Value="no"}
                });
                }
                @Html.DropDownListFor(m => m.p_Status, list)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Giá", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.p_Price, new { @class = "form-control" }) vnđ
                @Html.ValidationMessageFor(m => m.p_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hãng sản xuất", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @{ var list2 = new List<SelectListItem>(new[] {
                new SelectListItem{ Selected = true, Text="Iphone",Value="iphone"},
                new SelectListItem{ Selected = false, Text="Nokia",Value="nokia"},
                new SelectListItem{ Selected = false, Text="HTC",Value="HTC"},
                new SelectListItem{ Selected = false, Text="Samsung",Value="ss"},
                new SelectListItem{ Selected = false, Text="LG",Value="lg"},
                new SelectListItem{ Selected = false, Text="Oppo",Value="oppo"}
                });
                }
                @Html.DropDownListFor(m => m.p_Maker, list2)
                @Html.ValidationMessageFor(m => m.p_Maker)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ảnh", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @using (Html.BeginForm("UploadImage", "Mobile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="file" />
                    <input type="submit" value="Upload" />
                }
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DanhSachSanPham")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
}
