﻿@model PagedList.IPagedList<MyDLL.Phone>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhsachSanPham";
}

<h2>Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr class="tieude">
        <th>
            @Html.DisplayName("Ảnh")
        </th>
        <th>
            @Html.DisplayName("Tên")
        </th>
        <th>
            @Html.DisplayName("Trạng thái")
        </th>
        <th>
            @Html.DisplayName("Giá")
        </th>
        <th>
            @Html.DisplayName("Hot")
        </th>
        <th>
            @Html.DisplayName("Hãng sản xuất")
        </th>
        <th>
            @Html.DisplayName("Chức năng")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="noidung">
        <td>
            <img src="@Url.Content(@item.p_Image)" width="70" height="140" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_Name)
        </td>
        <td>
            @{ var list = new List<SelectListItem>(new[] {
                new SelectListItem{ Selected = item.p_Status.Equals("yes"), Text="Có hàng",Value="yes"},
                new SelectListItem{ Selected = item.p_Status.Equals("no"), Text="Hết hàng",Value="no"}
                });
            }
            @Html.DropDownListFor(modelItem => item.p_Status, list)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_Price)
        </td>
        
        <td>
            @{ var list2 = new List<SelectListItem>(new[] {
                new SelectListItem{ Selected = item.p_hot.Equals(1), Text="hot",Value="1"},
                new SelectListItem{ Selected = item.p_hot.Equals(0), Text="old",Value="0"}
                });
            }
            @Html.DropDownListFor(modelItem => item.p_hot, list2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailPhone.De_Maker)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.p_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.p_ID })
        </td>
    </tr>
}
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("DanhsachSanPham",
            new { page }))

</table>
