﻿@model Final.Models.Phone

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_hot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_hot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailPhone.De_Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailPhone.De_Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListPhone.lp_Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPhone.lp_Maker)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "DanhSachSanPham")
        </div>
    }
</div>
