﻿@model MyDLL.Phone
@using System.Web.Mvc.Html;
@{
    
    ViewBag.Title = "MobileCenter";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="../../Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/Default.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/js-image-slider.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
</head>
<body>
    <div id="main_container">
        <div class="top_bar">
            <div class="top_search">
                <div class="search_text"><a href="http://all-free-download.com/free-website-templates/">Advanced Search</a></div>
                <input type="text" class="search_input" name="search" />
                <input type="image" src="images/search.gif" class="search_bt" />
            </div>
        </div>
        <div id="header">
            <div id="sliderFrame">
                <div id="slider">
                    <img src="../../Image/slider-1.png" />
                    <img src="../../Image/slider-2.png" />
                    <img src="../../Image/slider-3.png" />
                    <img src="../../Image/slider-5.png" />
                </div>
                <!--Custom navigation buttons on both sides-->
                <div class="group-Wrapper">
                    <a onclick="imageSlider.previous()" class="group-Prev"></a>
                    <a onclick="imageSlider.next()" class="group-Next"></a>
                </div>
            </div>
            <!-- end of oferte_content-->
        </div>
        <div id="search">
            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li class="submenu">
                        Hãng sản xuất: @Html.DropDownList("Maker", new SelectList(new List<Object>
                {
                    new {value = "All", text = "All"},
                    new {value = "iphone", text = "Iphone"},
                    new {value = "ss", text = "Samsung"},
                    new {value = "nokia", text = "Nokia"},
                    new {value = "htc", text = "HTC"},
                    new {value = "lg", text = "LG"},
                    new {value = "oppo", text = "Oppo"}
                },
                "value",
                "text",
                "All"))

                    </li>
                    <li class="divider"></li>

                    <li class="submenu">
                        Hệ Điều Hành: @Html.DropDownList("OS", new SelectList(new List<Object>
                {
                    new {value = "All", text = "All"},
                    new {value = "Android", text = "Android"},
                    new {value = "iOS", text = "IOS"},
                    new {value = "Windows", text = "Windows Phone"}
                },
                "value",
                "text",
                "All"))
                    </li>
                    <li class="divider"></li>
                    <li class="submenu">

                        Mức Giá: @Html.DropDownList("Price", new SelectList(new List<Object>
                {
                    new {value = 0, text = "All"},
                    new {value = 2, text = "Khoảng 2 triệu"},
                    new {value = 4, text = "Khoảng 4 triệu"},
                    new {value = 6, text = "Khoảng 6 triệu"},
                    new {value = 8, text = "Khoảng 8 triệu"},
                    new {value = 10, text = "Khoảng 10 triệu"},
                    new {value = 12, text = "Khoảng 12 triệu"},
                    new {value = 14, text = "Khoảng 14 triệu"},
                    new {value = 16, text = "Khoảng 16 triệu"},
                    new {value = 18, text = "Khoảng 18 triệu"},
                    new {value = 20, text = "Khoảng 20 triệu"}
                },
                "value",
                "text",
                0))
                    </li>
                    <li class="divider"></li>
                    <li class="submenu">
                        <input type="image" src="~/Image/search.gif" />
                    </li>
                </ul>
                <div class="right_menu_corner"></div>
            }
        </div>

        <div id="main_content">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div id="menu_tab">
                    <div class="left_menu_corner"></div>
                    <ul class="menu">
                        <li><a href="#" class="nav1"> Home</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav2">Products</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav3">Specials</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav4">My account</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav4">Sign Up</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav5">Shipping</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="nav6">Contact Us</a></li>
                        <li class="divider"></li>

                    </ul>
                    <div class="right_menu_corner"></div>
                </div>
            }
        <div class="left_content">
            <div class="title_box">Categories</div>
            <ul class="left_menu">
                <li class="odd">@Html.ActionLink("Apple", "Index", "Mobile", new { id = 1 }, null)</li>
                <li class="even">@Html.ActionLink("Samsung", "Index", "Mobile", new { id = 2 }, null)</li>
                <li class="odd">@Html.ActionLink("Nokia", "Index", "Mobile", new { id = 3 }, null)</li>
                <li class="even">@Html.ActionLink("HTC", "Index", "Mobile", new { id = 4 }, null)</li>
                <li class="odd">@Html.ActionLink("LG", "Index", "Mobile", new { id = 5 }, null)</li>
                <li class="even">@Html.ActionLink("Oppo", "Index", "Mobile", new { id = 6 }, null)</li>
            </ul>
            <div class="title_box">Special Products</div>
            <div class="border_box">
                <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
                <div class="product_img"><a href="details.html"><img src="~/Image/laptop.png" alt="" border="0" /></a></div>
                <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
            </div>
            <div class="title_box">Newsletter</div>
            <div class="border_box">
                <input type="text" name="newsletter" class="newsletter_input" value="your email" />
                <a href="http://all-free-download.com/free-website-templates/" class="join">join</a>
            </div>
        </div>
            
        <!-- end of left content -->
        <div class="center_content">
            <div class="center_title_bar">Details Products</div>
            <div class="prod_box_big">
                <div class="top_prod_box_big"></div>
                <div class="clear"></div>
                <div class="center_prod_box_big">
                    <div class="product_title_big">@Html.DisplayFor(model => model.p_Name)</div>
                    <div class="product_img_big">
                        <img src="@Url.Content(@Model.p_Image)" style="background: no-repeat center; display: block; height: 140px; width: 70px; margin: auto auto;"/>
                        
                                                 
                    </div>
                    <div class="details_big_box">
                        <div class="product_title_big">
                            Thông số kỹ thuật
                           
                        </div>
                        <div class="specifications">
                            Màn hình: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_Screen)</span>
                            <br />
                            CPU: <span class="blue"> @Html.DisplayFor(model => model.DetailPhone.De_CPU)</span>
                            <br />
                            HDH: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_HDH)</span>
                            <br />
                            RAM: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_RAM)</span>
                            <br />
                            CAMERA after: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_CAM1)</span>
                            <br />
                            CAMERA font: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_CAM2)</span>
                            <br />
                            Ổ Cứng: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_ROM)</span>
                            <br />
                            Thẻ SD: <span class="blue">@Html.DisplayFor(model => model.DetailPhone.De_SD)</span>
                        </div>
                        <div class="prod_price_big"><span class="price">@Html.DisplayFor(m => m.p_Price) vnđ</span></div>
                        <div class="prod_details_tab" style="width:110px">
                            <a class="addtocart" href="@Url.Action("AddToCart", "GioHang", new { id = Model.p_ID })">add to cart</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="bottom_prod_box_big"></div>
                <div class="clear"></div>
                <!-- end of center content -->
            </div>
            <div class="center_title_bar">Comments</div>
            <div class="clear"></div>
            
            <div>
                <input id="new_cmt" type="text" class="form-control"  style="margin-left:13px"/> 
                <a href="#" id="dangbl"><img src="~/Image/addcmt.png" title="Enter" /></a>
            </div>
            <div id="listcomment">

            </div>
        </div>
        <br />
        <p style="clear:both"></p>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CellMobile</p>
        </footer>
            </div>
        </div>
    @section Scripts{
        <script>
        $(document).ready(function () {
            @*$("#danhsachbinhluan").load('@Url.Action("DanhSachBinhLuan", "Mobile", new { idsp=@Model.p_ID})');*@
            $("#dangbl").click(function () {
                
                //var comment = { "hoten": $("#name").val(), "noidung": $("#textbinhluan").val() };
                var comment = { "noidung": $("#new_cmt").val(), "idsp": "@Model.p_ID" }
                $.ajax({
                    type: 'POST',
                    url: '/Mobile/AddComment',
                    data: JSON.stringify(comment),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        $("#listcomment").append("<div>"+ comment.noidung +"</div>");
                        $("#textbinhluan").text = "";
                    }
                });
            });


        });
        </script>
    }
</body>

</html>