﻿@model MyDLL.Phone
@using System.Web.Mvc.Html;
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Phone</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.p_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.p_DeID, "p_DeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("p_DeID", String.Empty)
                @Html.ValidationMessageFor(model => model.p_DeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_Name)
                @Html.ValidationMessageFor(model => model.p_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_Status)
                @Html.ValidationMessageFor(model => model.p_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_Price)
                @Html.ValidationMessageFor(model => model.p_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_Maker, "p_Maker", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("p_Maker", String.Empty)
                @Html.ValidationMessageFor(model => model.p_Maker)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_Image)
                @Html.ValidationMessageFor(model => model.p_Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p_hot, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_hot)
                @Html.ValidationMessageFor(model => model.p_hot)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DanhSachSanPham")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
