﻿@model PagedList.IPagedList<MyDLL.Phone>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="../Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <link href="../Content/Default.css" rel="stylesheet" type="text/css" />
    <link href="../Content/style.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/js-image-slider.js" type="text/javascript"></script>
</head>
<body>
    <div id="main_container">
        <div class="top_bar">
            <div class="top_search">
                <div class="search_text"><a href="http://all-free-download.com/free-website-templates/">Advanced Search</a></div>
                <input type="text" class="search_input" name="search" />
                <input type="image" src="~/Image/search.gif" class="search_bt" />
            </div>
        </div>
        <div id="header">
            <div id="sliderFrame">
                <div id="slider">
                    <img src="../Image/slider-1.png" />
                    <img src="../Image/slider-2.png" />
                    <img src="../Image/slider-3.png" />
                    <img src="../Image/slider-5.png" />
                </div>
                <!--Custom navigation buttons on both sides-->
                <div class="group-Wrapper">
                    <a onclick="imageSlider.previous()" class="group-Prev"></a>
                    <a onclick="imageSlider.next()" class="group-Next"></a>
                </div>
            </div>
            <!-- end of oferte_content-->
        </div>
        <div id="search">
            @using (Html.BeginForm("Index", "Home"))
            {
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li class="submenu">
                            Hãng sản xuất: @Html.DropDownList("Maker", new SelectList(new List<Object>
                {
                    new {value = "All", text = "All"},
                    new {value = "iphone", text = "Iphone"},
                    new {value = "ss", text = "Samsung"},
                    new {value = "nokia", text = "Nokia"},
                    new {value = "htc", text = "HTC"},
                    new {value = "lg", text = "LG"},
                    new {value = "oppo", text = "Oppo"}
                },
                "value",
                "text",
                "All"))

            </li>
        <li class="divider"></li>

        <li class="submenu">
            Hệ Điều Hành: @Html.DropDownList("OS", new SelectList(new List<Object>
                {
                    new {value = "All", text = "All"},
                    new {value = "Android", text = "Android"},
                    new {value = "iOS", text = "IOS"},
                    new {value = "Windows", text = "Windows Phone"}
                },
                "value",
                "text",
                "All"))
            </li>
            <li class="divider"></li>
            <li class="submenu">

                Mức Giá: @Html.DropDownList("Price", new SelectList(new List<Object>
                {
                    new {value = 0, text = "All"},
                    new {value = 2, text = "Khoảng 2 triệu"},
                    new {value = 4, text = "Khoảng 4 triệu"},
                    new {value = 6, text = "Khoảng 6 triệu"},
                    new {value = 8, text = "Khoảng 8 triệu"},
                    new {value = 10, text = "Khoảng 10 triệu"},
                    new {value = 12, text = "Khoảng 12 triệu"},
                    new {value = 14, text = "Khoảng 14 triệu"},
                    new {value = 16, text = "Khoảng 16 triệu"},
                    new {value = 18, text = "Khoảng 18 triệu"},
                    new {value = 20, text = "Khoảng 20 triệu"}
                },
                "value",
                "text",
                0))
            </li>
            <li class="divider"></li>
            <li class="submenu">
                <input type="image" src="~/Image/search.gif" />
            </li>
        </ul>
                <div class="right_menu_corner"></div>
            }
</div>

<div id="main_content">
    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
            <div id="menu_tab">
        <div class="left_menu_corner"></div>
        <ul class="menu">
            <li><a href="#" class="nav1"> Home</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Action("DanhSachSanPham", "Mobile",null)" class="nav2">Products</a></li>
            <li class="divider"></li>
            <li><a href="#" class="nav3">Specials</a></li>
            <li class="divider"></li>
            <li><a href="#" class="nav4">My account</a></li>
            <li class="divider"></li>
            <li><a href="#" class="nav4">Sign Up</a></li>
            <li class="divider"></li>
            <li><a href="#" class="nav5">Shipping</a></li>
            <li class="divider"></li>
            <li><a href="#" class="nav6">Contact Us</a></li>
            <li class="divider"></li>

        </ul>
        <div class="right_menu_corner"></div>
    </div>
            }
    <div class="left_content">
        <div class="title_box">Categories</div>
        <ul class="left_menu">
            <li class="odd">@Html.ActionLink("Apple", "Index", "Mobile", new { id = 1 }, null)</li>
            <li class="even">@Html.ActionLink("Samsung", "Index", "Mobile", new { id = 2 }, null)</li>
            <li class="odd">@Html.ActionLink("Nokia", "Index", "Mobile", new { id = 3 }, null)</li>
            <li class="even">@Html.ActionLink("HTC", "Index", "Mobile", new { id = 4 }, null)</li>
            <li class="odd">@Html.ActionLink("LG", "Index", "Mobile", new { id = 5 }, null)</li>
            <li class="even">@Html.ActionLink("Oppo", "Index", "Mobile", new { id = 6 }, null)</li>
        </ul>
        <div class="title_box">Special Products</div>
        <div class="border_box">
            <div class="product_title"><a href="details.html">Motorola 156 MX-VL</a></div>
            <div class="product_img"><a href="details.html"><img src="images/laptop.png" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">350$</span> <span class="price">270$</span></div>
        </div>
        <div class="title_box">Newsletter</div>
        <div class="border_box">
            <input type="text" name="newsletter" class="newsletter_input" value="your email" />
            <a href="http://all-free-download.com/free-website-templates/" class="join">join</a>
        </div>
    </div>

    <!-- end of left content -->
    <div class="center_content">
        <div class="center_title_bar">Latest Products</div>
        @foreach (var item in Model)
                {
                    <div class="prod_box">
                <div class="top_prod_box"></div>
                <div class="clear"></div>
                <div class="center_prod_box">
                    <div class="product_title">@Html.ActionLink(item.p_Name, "Details", "Mobile", new { id = item.p_ID }, null)</div>
                    <div class="product_img">
                        <a href="@Url.Action("Details", "Mobile", new { id = item.p_ID })"><img src="@Url.Content(@item.p_Image)" alt="Image phone" width="70" height="140" style="margin:auto auto"/></a>
                    </div>
                    <div class="clear"></div>
                    <div class="prod_price"><span class="price">@Html.DisplayFor(p => item.p_Price) vnđ</span></div>
                </div>
                <div class="bottom_prod_box"></div>
                <div class="prod_details_tab">
                    <a href="@Url.Action("AddToCart", "GioHang", new { id = item.p_ID, action = "Index", controller = "Home"})"><img src="~/Image/cart.gif" alt="cart" border ="0" class="left_bt"/></a>
                </div>
            </div>
                }
        <div class="clear"></div>
        <!-- end of center content -->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page }))
    </div>
    <br />

    <p style="clear:both"></p>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - CellMobile</p>
    </footer>
</div>
</div>
</body>
</html>
